@font-face {
    font-family: "apple";
    src: url("../../public/fonts/Apple.ttf") format("truetype");
}
@font-face {
    font-family: "invaders";
    src: url("../../public/fonts/pixel_invaders.ttf") format("truetype");
}
@font-face {
    font-family: "material-icons";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/material-design-icons/material.ttf");
}

.material-icons {
    font-family: material-icons;
}
.invaders {
    font-family: invaders;
}
.apple {
    font-family: apple;
}
