@import url(./siwe.css);
@import url(./fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    h1 {
        @apply text-2xl;
        @apply sm:text-4xl;
    }

    h2 {
        @apply text-xl;
        @apply pt-4;
        @apply pb-2;
    }

    h3 {
        @apply text-lg;
}
    h4 {
        @apply text-sm;
}

    html,
    body {
        font-size: 16px;
        font-family: minitel, arial, sans-serif;
        color: var(--primary);
        background-color: var(--bg-01);
        margin:0;
        padding:0;
    }

    :root, html[data-theme="light"] {
        --primary: #05121B;
        --secondary: #E9A6D3;
        --tertiary: #0D3DFF;
        --highlight: #94F9B5;
        --border-primary: #fff;
        --border-secondary: #D5CDCB;
        --bg-01: #fff;
        --bg-02: #05121B;
        --bg-03: #F9EFF2;
        --bg-input: #fff;
        --txt-hover: #05121B;
        --txt-inverted: #ffffff;
    }
}